@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

:root {
    --Green:#629ba0 ;
    --Khakhi: #cfbb90;
    --Grey: #b0b0b0;
    --White:#efefef ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Forum', cursive;
    color:#cfbb90;
}

h2{
    font-family: 'Forum', cursive;
    color:#cfbb90;
}
body {
    background-color:#efefef;
    background-size: cover;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    
}

.container {
    background-color: transparent;
    max-width: 50vw;
    width: 100%;
    margin: 0 auto;
    border: none;
    padding: 15px;
    
}

.nav-bar {
    max-width: 100vw;
    width: 100%;
    grid-area: nav;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    place-content: center;
    place-items: center;
    height: 100%;

}

.nav-bar ul {
    list-style-type:none;
}

.nav-bar ul li {
    display: inline-block;
    font-family: 'Forum', cursive;
    padding: 1rem;
    background-color: var(--Green);
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.nav-bar ul li:hover {
    background-color: #cfbb90;
    color: #406f73;
    font-weight: bold;
}

.panel {
    width: 100%;
    text-align: center;
}

.panel h1 {
    font-family: 'Forum', cursive;
    letter-spacing: 5px;
    color: var(--White);
}

.panel1 {
    padding: 2rem;
    background-color: var(--Green);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 12px;
}

.panel2 {
    background-color: var(--Green);
    padding: 2rem;
    border-radius: 12px;
    margin-top: 2rem
}

input {
    max-width: 50vw;
    width: 100%;
    height: 2.8rem;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: var(--White);
    border: none;
    font-family: 'Forum', cursive;
    font-weight: bold;
}

input::placeholder {
    color: black;
}

.contact-item {
    background-color: var(--Green);
    margin-top: 1rem;
    border-radius: 100px;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
}

button {
    background-color: var(--Grey);
    padding: 1rem;
    width: 10vw;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Forum', cursive;
    color:#000000;
    font-weight: bold;
    border: none;
}

button:hover {
    color: #406f73;
    background-color: var(--Khakhi);
}

footer {
    position: relative;
    color: #629ba0;

}

form{
    font-family: 'Forum', cursive;
}


@media screen and (min-width:1920px) {
    body {
        max-width: 1920px;
    }

}
@media (min-width: 375px) and (max-width: 500px) {
    body {
        max-width: 400px;
        background-size: 90rem;
        font-size: 14px;
    }
    .container {
        max-width: 90vw;
    }
    .nav-bar {
        margin-top: 5rem;
        display: block;
    }
    .nav-bar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: stretch;
    }
    .nav-bar ul li {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .panel1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .panel2 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    button {
        width: 20vw;
    }

}